In [6]:
import pandas as pd

In [15]:
df = pd.read_excel('GSAF5-cleaned.xlsx', engine='openpyxl')

/Users/msaied/mambaforge/envs/default/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [16]:
df['Type'].value_counts()

Unprovoked             5089
Provoked                634
Invalid                 581
Watercraft              362
Sea Disaster            243
Questionable              2
Under investigation       1
Name: Type, dtype: int64

Decidimos dejar 3 casos sin categorizar dentro de los principales tipos debido a sus caracteristicas.
Under Investigation indica que no se pueden sacar conclusiones aun, se trata de un caso reciente.

Por otro lado, los 2 casos cuestionables podrian encajar bajo la categoria de Invalido.

In [17]:
df[df['Type'] == 'Under investigation']

,Date,Year,Type,Color,Colored Type,Country,State,Location,Activity,Name,...,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 254
570,14-Jul-2018,2018.0,Under investigation,tan,Unprovoked,United States of America,Florida,"Playalinda Beach, Brevard County",Surfing,female,...,13h30,NaN,"Brevard Times, 7/14/2018",2018.07.14.a-Playalinda.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.07.14.a,2018.07.14.a,6342.0,NaN

In [10]:
df[df['Type'] == 'Questionable']

,Date,Year,Type,Color,Colored Type,Country,State,Location,Activity,Name,...,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order
14,12 Sep-2023,2023.0,Questionable,tan,Unprovoked,United States of America,Florida,"New Smyrna Beach, Volusia County",Surfing,Mark Summersett,...,N,07h50,NaN,"Daytona Beach News Journal, 9/13/2023",NaN,NaN,NaN,NaN,NaN,NaN
486,12-Apr-2019,2019.0,Questionable,tan,Unprovoked,United States of America,Florida,"Crescent Beach, St Johns County",Boogie boarding,Peyton Shields,...,N,17h45,NaN,"Action News Jax, 4/12/2019, K. McMurray, Track...",2019.04.12-Shields.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2019.04.12,2019.04.12,6426.0

Si nos abstenemos al uso del codigo de colores para la clasificacion, los tres casos caeiras en _Unprovoked_.

In [18]:
print(list(df['Country'].unique()))

['Australia', 'New Zealand', 'United States of America', 'Mexico', 'Belize', 'Egypt', 'Philippines', 'The Bahamas', 'Spain', 'Portugal', 'Colombia', 'South Africa', 'Ecuador', 'French Polynesia', 'French Overseas Territories', 'British Overseas Territories', 'Brazil', 'Seychelles', 'Argentina', 'Fiji', 'Maldives', 'United Kingdom', 'Japan', 'Indonesia', 'Jamaica', 'Thailand', 'Costa Rica', 'Canada', 'Jordan', 'Saint Kitts and Nevis', 'Sint Maarten', 'Papua New Guinea', 'Israel', "People's Republic of China", 'Samoa', 'Republic of Ireland', 'Italy', 'Malaysia', 'Libya', 'Unknown', 'Cuba', 'Mauritius', 'Solomon Islands', 'British overseas territories', 'Comoros', 'United Arab Emirates', 'Cape Verde', 'Dominican Republic', 'Aruba', 'Mozambique', 'Puerto Rico', 'Atlantic Ocean', 'Greece', 'St. Martin', 'France', 'Trinidad and Tobago', 'Kiribati', 'Taiwan', 'State of Palestine', 'Guam', 'Nigeria', 'Tonga', 'Croatia', 'Saudi Arabia', 'Chile', 'Antigua and Barbuda', 'Kenya', 'Russia', 'South Korea', 'Malta', 'Vietnam', 'Madagascar', 'Panama', 'Somalia', 'Norway', 'Senegal', 'Yemen', 'Sierra Leone', 'Liberia', 'Vanuatu', 'Honduras', 'Venezuela', 'Sri Lanka', 'Uruguay', 'India', 'Federated States of Micronesia', 'Caribbean Sea', 'Tanzania', 'Marshall Islands', 'Arabian Sea', 'Hong Kong', 'El Salvador', 'Angola', 'Montenegro', 'Iran', 'Tunisia', 'Namibia', 'South China Sea', 'Bangladesh', 'Palau', 'Pacific Ocean', 'Grenada', 'Iraq', 'Turkey', 'Singapore', 'Papua Nueva Guinea', 'Sudan', 'United States', 'Red Sea', 'PERSIAN GULF', 'Nicaragua', 'American Samoa', 'Gabon', 'Magadascar', 'Slovenia', 'Indian Ocean', 'Guatemala', 'Curacao', 'Northern Mariana Islands', 'CENTRAL PACIFIC', 'Curaçao', 'Iceland', 'Barbados', 'French Overseas territories', 'Monaco', 'Guyana', 'Haiti', 'Kuwait', 'FALKLAND ISLANDS', 'Cyprus', 'Myanmar', 'Lebanon', 'Paraguay', 'Georgia', 'Syria', 'Tuvalu', 'Guinea', 'Equatorial Guinea', 'Cook Islands', 'Peru', 'Kingdom of Africa', 'Algeria', 'São Tomé and Príncipe', 'Ghana', 'Greenland', 'Mediterranean Sea', 'Sweden', 'Djibouti', 'Bahrain']